.App-header {
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmax);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  margin-right: 1rem;
}
.active {
  color: #7cf5d7;
  text-decoration: underline;
}

.main{
  max-width: 1280px;
  margin: 0 auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
